<div class ="container">
<div class="row">
  <div class="span6 offset 3">
    <%= form_for(:email, url: email_index_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

       
      <%= f.hidden_field :body, :value => @body %>

      <%= f.submit "SEND", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <div class="span6">
    <h3>WE ARE VERY GLAD THAT YOU SHOP AT DEDO VENSHOP </h3>
            <h4>  TO RECEIVE YOUR ORDER </h4>
            <h5>   PLEASE TYPE GIVE US YOUR INFO</h5> 
            <h6>  AN EMAIL WILL BE SENT TO COMPLETE YOUR WISH </h6>
       
    
  </div>
</div>
</div>
