<% provide(:title, 'home') %>
<div class="container">
  <div class="row">
     <div class="span3">
        <ul>
          <% @carts.each do |cart| %>
  	     <li><%=link_to cart.name, cart %></li>
          <% end %>
        </ul>
     
     </div>
     <div class="span6 offset1">
        <ul>
          <% @carts.each do |cart| %>
              <% if cart.products.any? %>
                <% products = cart.products %> 
                  <%products.each do |p| %>
  	              <li><%= link_to p, id: "logo-p" do %>
                      <img src="<%=p.img%>" alt="img"  width="150" height="150">
                     

                   <% end %>
           <%=form_for(:bsession, url: bsessions_path) do |f| %>
                 
                 <%= f.hidden_field :name, :value => p.name%>
                 <%= f.hidden_field :price, :value => p.price%>
                 <%= f.hidden_field :desc, :value => p.desc%>
                 <%= f.hidden_field :img, :value => p.img%>
                 <%= p.name%> - <%= p.price%>  <br>
                    <%= f.submit "Buy", class: "btn btn-large btn-primary" %>  
           <% end %>   
                   </li>
                  <% end %>
              <% end %>
          <% end %>
        </ul>
     
     </div>

  </div>
</div>