

<div class="row">
  <div class="span6">
   
  <img src="<%=@img%>" alt="img" width="250" height="250">
  <h1><%=@name%></h1>
  <h3><%=@desc%></h3>
  <h3>Total: <%=number_to_currency(@price)%></h3>  


  <%= link_to "BACK", root_path %>
</div>
  <div class="span4 offset 1">
    <%= form_for(:email, url: email_index_path) do |f| %>
       <% b="WELCOME TO DEDO-VENSHOP \n
             YOUR ORDER CONTAINS : \n
             #{@name} \n
             Price: #{@price} $ \n
             Total: #{@price} $ \n "
          %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

       
      <%= f.hidden_field :body, :value => b %>

      <%= f.submit "SEND", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  
</div>