

<div class="row">
  <div class="span6">
   
  <img src="<%=@img%>" alt="img" width="250" height="250">
  <h1><%=@name%></h1>
  <h3><%=@desc%></h3>
  <h3>Total: <%=@price%> $ </h3>  


  <%= link_to "Cancel", root_path %>
  </div>
</div>