<% provide(:title, 'Add products') %>
<div class="row">
  <div class="span6 offset1">
  	<h1>ADD PRODUCT</h1>
    <%= form_for(@product) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :desc %>
      <%= f.text_field :desc %>

      <%= f.label :img %>
      <%= f.text_field :img %>

       <%= f.label :price %>
       <%= f.text_field :price %>
       

       <%= f.label :cart_id %>
       <%= f.text_field :cart_id %>       

      <%= f.submit "ADD PRODUCT", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

