<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "rails" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
 <header class="navbar navbar-fixed-top navbar-inverse">
      <div id="d-header"  class="navbar-inner">
        <div class="container">
          <%= link_to "DEDO PRODUCTION", '#', id: "logo" %>
          <nav>
            
            <ul class="nav pull-right">
             <li>
        <%= form_tag(articles_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="search_wapper_a" id="search">
      		  <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Products" %>
        <button class="button_search" type="submit><i class="icon-search"></i></button>
              </div>
        <%end%>
         </li>

             <li><%= link_to "Cart", bcarts_show_path %></li>

              <li><%= link_to "Home", page_home_path %></li>
             <% if signed_in? %>
               


                <li><%= link_to "Upload", products_new_path %>                  </li>

                <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        
             <% else %>
               <li><%= link_to "Sign in", signin_path %></li>
            <% end %>

            </ul>
          </nav>
        </div>
      </div>
</header>
<div id="d-main" class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
     <%= yield %>
     
     <%= render 'layouts/footer' %>
</div>

</body>
</html>
